body 
{
    background-color:cadetblue;
}

h1
{
    font-family: 'Courier New', Courier, monospace;
}

label
{
    font-family: cursive;
}
button
{
    font-family: cursive;
    background-color: burlywood;
}



